/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container {
    margin-bottom: 20px;
}

#location {
    padding: 10px;
    width: 60%;
}

#search {
    padding: 10px;
    background-color: #f01cc9;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.weather-container {
    text-align: left;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    width: 80px;
    height: 80px;
    background-size: cover;
}

.temperature {
    font-size: 24px;
}

#description {
    margin-top: 10px;
    font-weight: bold;
}
